<div>
    <!--_______________________ Creating NavBar____________________ -->
    <nav class="navbar  fixed-top navbar-expand-md navbar-dark bg-dark">
<div class="container">
        <a class="navbar-brand  ml-2
        " href="#">ASH PHOTOGRAPHY📸 </a>
<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> 
        </button>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse  text-center  " id="navbarNavAltMarkup">>

            <ul class="navbar-nav ml-auto pr-5  ">
                <li class="nav-item ">
                    <a class="nav-link " href="#homeap">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#aboutap">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#portfolioap" disabled aria-disabled="true">Portfolio Images</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#serviceap">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contactap">Contact Us</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</div>
<br>
<br>
<br>

<!-- ___________________________BADGE/CREATING ALERT________________________________________________________________________ -->
<section id="homeap">

    <div class="container-fluid -container mr-auto">

        <div class="alert alert-success mt-2" id="badge1" role="alert">
            Hurry Up Guyz!! Book & Avail your <b> New Year Special Photography💖</b> with free 5 Edit's Pictures🤩.
            <span class="badge badge-pill badge-info">Info</span>
        </div>
    </div>


    <!-- _______________________IMAGE GALLERY/Carousel ___________________________ -->
    <div class="container-fluid">


        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <!-- i am first-->
                <div class="carousel-item active">
                    <div class="myslide"> <img src="{{photo1}}" class="d-block w-100" alt="First slide"> </div>
                    <div class="carousel-caption ">
                        <h2>Welcome To Ash Photography!</h2>
                        <p>Life isn't Perfect but your Photos can be..!</p>
                        <a href="https://www.instagram.com/_itz_ap_editography/" target="_blank">
                            <button type="button" class="btn btn-danger active">INSTAGRAM</button>
                        </a>
                        <a href="#contactap">
                            <button type="button" class="btn btn-primary">BOOK YOUR DATE📸</button>
                        </a>
                    </div>
                </div>
                <!-- i am second -->
                <div class="carousel-item">
                    <div class="myslide"> <img src="{{photo2}}" class="d-block w-100" alt="First slide"> </div>
                    <div class="carousel-caption">
                        <h2>Discover the beauty of photography</h2>
                        <a href="https://www.instagram.com/_itz_ap_editography/" target="_blank"
                            rel="noopener noreferrer">
                            <button type="button" class="btn btn-danger active">INSTAGRAM</button>
                        </a>
                        <a href="#contactap">
                            <button type="button" class="btn btn-primary">BOOK YOUR DATE📸</button>
                        </a>
                    </div>
                </div>
                <!-- i am third -->
                <div class="carousel-item">
                    <div class="myslide"> <img src="{{photo3}}" class="d-block w-100" alt="First slide"> </div>
                    <!-- <img src="{{photo3}}" class="d-block w-100" alt="third slide"> -->
                    <div class="carousel-caption ">
                        <h2 class="thirdscene">Never sacrifice three things: family, love, and Photography</h2>
                        <a href="https://www.instagram.com/_itz_ap_editography/" target="_blank"
                            rel="noopener noreferrer">
                            <button type="button" class="btn btn-danger active">INSTAGRAM</button>
                        </a>
                        <a href="#contactap">
                            <button type="button" class="btn btn-primary">BOOK YOUR DATE📸</button>
                        </a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<br><br><br>


<!--_____________________________________ABOUT SECTION_________________________________________ -->
<section id="aboutap">
    <div class="container my-4">
        <div class="row featurette">
            <div class="col-md-7 order-md-3">
                <a>
                    <h1 class="featurette-heading">A Little Bit about Me😎!</h1>
                </a>
                <h3 class="text-muted">I am Aniket Potbhare <br /> The Person behind the Page.</h3>

                <br>
                <h5 class="lead">
                    <b>📸Creator |🚀 Aspiring Software Engineer | Frontend Enthusiast | Open to New Opportunities
                        🌐</b>
                    <br>
                    <br>
                    As a recent IT graduate, I am highly motivated to start my career in the industry and contribute
                    my skills
                    to make a positive impact. My educational background has provided me with a solid foundation in
                    programming
                    languages such as C Programming ,Javascript as well as hands on skills in Front-end Development,
                    Web Designing.
                    <br>
                    <br>
                    <b>🎓 Curious Learner | Forever Student 📚</b> <br /> <br />
                    Currently, I am focusing on expanding my knowledge in Java to enhance Full Stack Java
                    development skills.
                    In my pursuit of excellence, I strive to be a lifelong learner. I am dedicated to expanding my
                    horizons by
                    engaging in workshops, attending tech conferences, and staying updated on the latest
                    advancements in the
                    field.
                    <br>
                    <br>

                    <b>🤝 Let's Connect! 📩</b>
                    <br>
                    <br>
                    I am enthusiastic about networking with professionals who share my passion for software
                    engineering and
                    frontend development. Whether it's discussing exciting projects, exploring potential
                    collaborations, or
                    exchanging ideas, I'm always open to connecting and learning from diverse perspectives.
                    <br>
                    <br>
                    If you have any exciting opportunities or ideas to discuss, feel free to reach out. Let's
                    connect and make a
                    positive impact through technology!
                </h5>
            </div>
            <div class="col-md-5 order-md-2">
                <img class="featurette-image img-fluid mx-auto" src={{photo4}} alt="BEHIND THE PAGE" />
            </div>
        </div>
        <hr class="featurette-divider" />
    </div>

    <div class="container mt-3 mb-4">
        <h4>WHAT WE OFFER</h4>
        <br>
        <h5>With the proper camera and vision, photography can make your life much better. It can help lift our
            spirits when we are down, help us look beyond the disappointments life can sometimes throw at us and
            spark our creativity and imagination. If you are interested in finding a new hobby, or just looking to
            take better pictures, Below are just a few of the many benefits of developing a love of photography.
            <br>
            Don’t believe it? Look at all the old photographs your mom or grandmother had around. I personally love
            looking at old pictures and imagining what life must have been like "back in the day". And anytime I get
            to missing family and friends who have passed on, a photo of them can bring back such beautiful and
            cherished memories.
            <br>
            Photography documents your journey through life
            From your childhood pictures to your child’s pictures to your grandchild’s pictures. From first smiles
            to first steps to first dates, life can be documented and preserved. Photography captures personal
            communication that would otherwise be lost forever.
            <br>
            Photography help you find beauty in the world.
            We can find beauty in our lives through photography. From the simpleness of everyday objects around us
            to the craziness of our children who bring us joy yet drive us crazy. Using a camera to find beauty in
            the things and people around us, helps us to see things in a different light. A wonderful therapeutic
            benefit of photography is that it can help us see the beauty surrounding us we just have to take a
            moment
            to stop and look!
            <br>
            Photography preserves new and old memories
            Think of the wife or husband who has lost a spouse. Or the child who lost a parent. With pictures not
            only can they have no fear of forgetting their loved one’s face, a photo can help them remember exactly
            what was going on when that picture was snapped, cementing the memory forever.
            <br>
            Photography is an act of creating
            The simple act of creation is important in helping us as humans feel fulfilled. When a child finishes a
            drawing that may not be the masterpiece he or she thinks it is, they beam with pride as praise is
            showered down upon them. This excitement to create is something all of us share, no matter our age. And
            don't worry, your perceived level of creativity doesn’t matter, it is the act of doing that counts.
        </h5>
    </div>
</section>

<hr>
<br>

<!--______________________________________SERVICE START FROM HERE___________________________________________________________ -->
<section id="serviceap">
    <div class="container-fluid">
        <h4>SERVICES WE PROVIDED 🎥</h4>
        <br>
        <div class="row">
            <div class="col-lg-4 mt-4 text-center servicerow">
                <div class="servicewaliimg">
                    <img class="rounded-circle mb-4" src={{photo5}} alt="img1" />
                </div>

                <h2>Model/Portrait Shoot</h2>
                <p>Ash Photography provides all types of Model Shoots like Special Portrait Candid Shoots. We
                    specialize in Indoor as Well
                    as Outdoor Photography.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>

            <div class="col-lg-4 mt-4 text-center servicerow">
                <div class="servicewaliimg">
                    <img class="rounded-circle mb-4" src={{photo6}} alt="img2" />
                </div>
                <h2>Event Shoot</h2>
                <p>Ash Photography provides all types of personal, party, and office events. Our event photographers
                    specialize in capturing
                    pictures of birthday parties, office functions, parties, etc.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>

            <div class="col-lg-4 mt-4 text-center servicerow">
                <div class="servicewaliimg">
                    <img class="rounded-circle mb-4" src={{photo7}} alt="img3" />
                </div>
                <h2>Wedding Shoot</h2>
                <p>We have covered more than 100+ wedding events in Nagpur. Wedding pictures convey sincere
                    feelings like pleasure, love, and
                    happy tears. The photos contain all atmospheres of the celebration.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</section>
<br>
<div class="container" id="like">
    <h2>CLIENTS LOVED <b>OUR PHOTOGRAPHY SERVICES!❤</b></h2>
    <i id="temp" (click)="likeCounter()"
        class="fa fa-thumbs-up my-4 animate__animated animate__bounce animate-duration: 800ms;"></i>
    <br>
    <h3 id="show">{{ like}}</h3>
    <!-- <h3 id="show" {{a}}>4999</h3> -->
    <br>

    <h5>"Happy Clients Loved our Photography services"😍</h5>
</div>
<br>
<br>
<hr>
<br>

<!--______________________________________CONTACT FORM START HERE___________________________________________________________ -->
<section id="contactap">
    <div class="container mt-2">
        <form (ngSubmit)="save()">
            <h4>GET IN TOUCH!📨</h4>
            <br><br>
            <div class="form-group mt-4">
                <label for="exampleInputName">Name:</label>
                <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Name" name="name"
                    [(ngModel)]="name" />
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" name="email" [(ngModel)]="email" required />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>

            <div class="form-group">
                <label for="exampleInputTextArea">Any Message Here!</label>
                <input type="text" class="form-control" id="exampleInputTextArea" placeholder="Enter any msg here"
                    name="msg" [(ngModel)]="msg" />
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>

            <div class="h-captcha" data-captcha="true"></div>

            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>

        <script src="https://web3forms.com/client/script.js" async defer></script>
    </div>
    <hr>
    <div class="container mb-1" id="footerstyle">
        <footer class="page-footer font-small special-color-dark pt-4">
            <div class="footer-copyright text-center py-3">©2023 Copyright:
                <a href="https://www.instagram.com/_itz_ap_editography/?hl=en">Ash Photography</a>
            </div>
        </footer>
    </div>
</section>